<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="tableForm" (ngSubmit)="onSave()">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="!tableForm.valid">Save</button>
                    <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="control-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="columns">
                    <div class="row" *ngFor="let columnCtrl of columnsControls; let i = index"
                        [formGroupName]="i" style="margin-top: 10px;">
                        <div class="col-xs-6">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-xs-4">
                            <select name="type" class="form-control" formControlName="type">
                                <option *ngFor="let type of columnTypes" [value]="type">{{ type }}</option>
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger" type="button" (click)="onDeleteColumn(i)">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row" style="margin-top: 20px;position: relative;">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success" (click)="onAddColumn()">Add column</button>
                </div>
            </div>
        </form>
    </div>
</div>